:root {
  --font-size-base: 18px;
  --font-family-base: 'Ubuntu', sans-serif;
  --line-height-base: 1.25;

  --font-weight-normal: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  --font-family-headings: var(--font-family-base);
}
